<form #myForm="ngForm">
  <h1 mat-dialog-title>
    Add Household
  </h1>
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input [(ngModel)]="household.name" matInput name="name" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Location</mat-label>
      <input [(ngModel)]="household.location" matInput name="location" required>
    </mat-form-field>
    <mat-checkbox [(ngModel)]="redirect" name="redirect" color="primary">Go to management page</mat-checkbox>

  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close=>Cancel</button>
    <button [disabled]=myForm.invalid [mat-dialog-close]="{household:household, redirect:redirect}" mat-button>Add Household</button>
  </div>
</form>
