<div *ngIf="!submitted">
  <div>
    <label for="name">Name</label>
    <input [(ngModel)]="name" id="name" name="title" required type="text">
  </div>
  <div>
    <label for="type">Type</label>
    <input [(ngModel)]="type" id="type" name="type" required type="text">
  </div>
  <button (click)="createStorage()">Submit</button>
</div>

<div *ngIf="submitted">
  <h3>Storage created successfully!</h3>
  <button (click)="newStorage()">Add another</button>
  <br>
  <a routerLink="/storage/{{storageId}}">Go to {{name}}</a>
</div>
