<mat-action-list>
  <button mat-list-item routerLink="invite">Manage Invitations</button>
  <button (click)="addStorage()" mat-list-item>Add Storage</button>
  <button *ngIf="household?.storages?.length != 0" (click)="editStorage()" mat-list-item>Edit Storage</button>
  <button *ngIf="household?.storages?.length != 0" (click)="removeStorage()" mat-list-item>Remove Storage</button>
  <button (click)="editHousehold()" mat-list-item>Edit household</button>
  <button (click)="removeHousehold()" mat-list-item>Remove household</button>
</mat-action-list>
