.error{
  background-color: darkred;
  color: white;
  margin-top: 10px;
  width: 80%;
  margin-left: 10%;
}

@media only screen and (max-width: 415px) {
  mat-card{
    width: 90%;
  }
}

@media only screen and (min-width: 415px) {
  mat-card{
    width: 400px;
  }
}

mat-card{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

mat-card-title
{

}

.hname
{
  font-weight: bold;
  font-size: large;
}

.location
{
  font-style: italic;
  font-size: medium;
}
