<mat-card *ngIf="!notOwned && household">
  <mat-card-title>
    Managing <span class="hname">{{household?.name}}</span> in {{household?.location}}
  </mat-card-title>
  <mat-action-list>
    <button mat-list-item routerLink="invite">Manage Invitations</button>
    <button *ngIf="household?.users && household.users!.length > 1" mat-list-item (click)="removeUser()">Remove User</button>
    <button (click)="addStorage()" mat-list-item>Add Storage</button>
    <button *ngIf="household?.storages?.length != 0" (click)="editStorage()" mat-list-item>Edit Storage</button>
    <button *ngIf="household?.storages?.length != 0" (click)="removeStorage()" mat-list-item>Remove Storage</button>
    <button (click)="editHousehold()" mat-list-item>Edit household</button>
    <button (click)="removeHousehold()" mat-list-item>Remove household</button>
  </mat-action-list>
</mat-card>

<mat-card class="error" *ngIf="notOwned">
  <mat-card-title >
    Error: Not Authorized
  </mat-card-title>
  <mat-card-content>
    <p>You are not authorized to manage this household. Please use the <b>Change Household</b> menu to switch to a Household you own or use the button below to return to the dashboard.</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/dashboard">Go to Dashboard</button>
  </mat-card-actions>
</mat-card>
