<mat-action-list>
  <button (click)="inviteUser()" mat-list-item>Invite user to household</button>
  <button (click)="removeUser()" mat-list-item>Remove user from household</button>
  <button (click)="addStorage()" mat-list-item>Add Storage</button>
  <button (click)="editStorage()" mat-list-item>Edit Storage</button>
  <button (click)="removeStorage()" mat-list-item>Remove Storage</button>
  <button (click)="editHousehold()" mat-list-item>Edit household</button>
  <button (click)="removeHousehold()" mat-list-item>Remove household</button>
</mat-action-list>
