<mat-action-list>
  <button mat-list-item (click)="inviteUser()">Invite user to household</button>
  <button mat-list-item (click)="removeUser()">Remove user from household</button>
  <button mat-list-item (click)="addStorage()">Add Storage</button>
  <button mat-list-item (click)="editStorage()">Edit Storage</button>
  <button mat-list-item (click)="removeStorage()">Remove Storage</button>
  <button mat-list-item (click)="editHousehold()">Edit household</button>
  <button mat-list-item (click)="removeHousehold()">Remove household</button>
</mat-action-list>
