<div>
  <h2 mat-dialog-title>
    Change Password
  </h2>
  <form
  #f="ngForm"
  [mustMatch]="['password', 'password2']"
  name="form"
  novalidate
  >
  <div mat-dialog-content>
      <mat-form-field>
        <mat-label>Old Password</mat-label>
        <input
          matInput
          #oldPassword="ngModel"
          [(ngModel)]="passwords.oldPassword"
          class="form-control"
          minlength="6"
          name="oldPassword"
          required
          type="password"
        />
        <mat-error *ngIf="oldPassword.errors">
          <div *ngIf="oldPassword.errors['required']">Old password is required</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          #password="ngModel"
          [(ngModel)]="passwords.password"
          class="form-control"
          minlength="6"
          name="password"
          required
          type="password"
        />
        <mat-error *ngIf="password.errors">
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['minlength']">
            Password must be at least 6 characters
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Re-enter Password</mat-label>
        <input
          matInput
          #password2="ngModel"
          ComparePassword.mustMatch
          [(ngModel)]="passwords.password2"
          class="form-control"
          minlength="6"
          name="password2"
          required
          type="password"
        />
        <mat-error *ngIf="password2.errors">
          <div *ngIf="password2.errors['required']">Password is required</div>
          <div *ngIf="password2.errors['minlength']">
            Password must be at least 6 characters
          </div>
          <div *ngIf="password2.errors['mustMatch']">Passwords must match</div>
        </mat-error>
      </mat-form-field>

  </div>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close=>Cancel</button>
    <button [disabled]="!f.form.valid" [mat-dialog-close]="passwords" mat-button>Change Password</button>
  </mat-dialog-actions>
  </form>
</div>
