<div id="app">
  <mat-toolbar class="navbar-expand" color="primary"><span>Fridge Tracker</span>
    <ul *ngIf="isLoggedIn" class="navbar-nav mr-auto">
      <li *ngIf="this.selectedHousehold">
        <button (click)="addItemToSelected()" mat-icon-button>
          <mat-icon>add_a_photo</mat-icon>
        </button>
      </li>

    </ul>
    <ul *ngIf="!isLoggedIn" class="navbar-nav ml-auto">
      <li class="nav-item">
        <button mat-button (click)="signup()">Sign Up</button>
      </li>
      <li class="nav-item">
        <button mat-button (click)="login()">Login</button>
      </li>
    </ul>

    <ul *ngIf="isLoggedIn" class="navbar-nav ml-auto">
      <li *ngIf="this.selectedHousehold" class="nav-item">
        <a class="nav-link-inner" mat-icon-button routerLink="dashboard">
          <mat-icon>home</mat-icon>
        </a>
      </li>
      <li class="nav-item">
        <button [matMenuTriggerFor]="profileMenu" mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #profileMenu="matMenu" xPosition="before">
          <button mat-menu-item routerLink="profile">Profile</button>
          <button *ngIf="this.user!.memberHouseholds!.length>1" [matMenuTriggerFor]="householdMenu" mat-menu-item>
            Change Household
          </button>
          <button *ngIf="userType=='owner'" mat-menu-item routerLink="manage">Manage Households</button>
          <button (click)="logout()" mat-menu-item>Log Out</button>
        </mat-menu>

        <mat-menu #householdMenu="matMenu" xPosition="before">
          <button (click)="changeSelected(household)" *ngFor="let household of this.user!.memberHouseholds"
                  mat-menu-item>{{household.name}}: {{household.location}}</button>
        </mat-menu>
      </li>
    </ul>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
