<div id="app">
  <mat-toolbar color="primary"><span>Fridge Tracker</span>
     <span *ngIf="isLoggedIn && this.selectedHousehold && this.selectedHousehold.storages?.length">
       <label for="add-item" class="mat-icon-button add-photo-button"><mat-icon>add_a_photo</mat-icon></label>
       <input type="file" id="add-item" accept="image/*" (change)="addItemToSelected($event)">
     </span>
    <span class="spacer"></span>
    <span *ngIf="!isLoggedIn">
        <button mat-button (click)="signup()">Sign Up</button>
        <button mat-button (click)="login()">Login</button>
    </span>

    <span *ngIf="isLoggedIn" >
        <button *ngIf="this.selectedHousehold"  mat-icon-button routerLink="dashboard">
          <mat-icon>home</mat-icon>
        </button>
        <button [matMenuTriggerFor]="profileMenu" mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #profileMenu="matMenu" xPosition="before">
          <button mat-menu-item routerLink="profile">Profile</button>
          <button *ngIf="this.user?.memberHouseholds?.length" [matMenuTriggerFor]="householdMenu" mat-menu-item>
            Change Household
          </button>
          <button *ngIf="userType=='owner'" mat-menu-item routerLink="manage">Manage Households</button>
          <button (click)="logout()" mat-menu-item>Log Out</button>
        </mat-menu>

        <mat-menu #householdMenu="matMenu" xPosition="before">
          <button (click)="changeSelected(household)" *ngFor="let household of this.user?.memberHouseholds"
                  mat-menu-item>{{household.name}}: {{household.location}}</button>
        </mat-menu>
    </span>
  </mat-toolbar>

  <div class="facebook-warning" *ngIf="isFacebookInAppBrowser()">
    We're sorry, but this app does not work well inside Meta's in-app browsers.
    Please open this link in a full browser to ensure a smooth experience.
  </div>

  <div *ngIf="!loading" class="container">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>

  <div *ngIf="loading">
    <p>Loading...</p>
  </div>

</div>
