<div *ngIf="currentStorage">
  <h1>{{currentStorage.name}}</h1>
  <!--
  <ul *ngIf="currentStorage.foodItems && currentStorage.foodItems.length">
    <li *ngFor="let foodItem of currentStorage.foodItems">
      {{foodItem.name}}
      <span *ngIf="foodItem.tags.length">
        [ <span *ngFor="let tag of foodItem.tags">{{tag}} </span>]
      </span>
      <a mat-button color="primary" (click)="openEditDialog(foodItem)">Edit</a>
      <a mat-button color="warn" (click)="openDeleteDialog(foodItem)">Delete</a>
    </li>
  </ul>
  -->
  <food-item-card *ngFor="let foodItem of currentStorage.foodItems" [foodItem]="foodItem"></food-item-card>
  <p>
    <button (click)="openAddDialog()">Add Item</button>
  </p>
</div>
