<mat-drawer-container>
  <mat-drawer-content>
    <mat-card class="food_item_card" [style.backgroundColor] = 'extrapolateColor(foodItem.entered, foodItem.expiration)'>
      <secured-image (click)="snav.toggle()" [src]=foodItem.filename></secured-image>

      <mat-card-content>
        <table class="food_item_card_header">
          <tr>
            <td id="foodItemName">{{foodItem.name}}</td>
            <td id="foodItemStorage">{{foodItem.storage!.name}}</td>
          </tr>
        </table>
        <mat-chip-list>
          <mat-chip *ngFor="let tag of foodItem.tags" class="food_tag_chip">{{tag}}</mat-chip>
        </mat-chip-list>
        <span id="foodItemEntered">Entered: {{foodItem.entered?.replace(" ", "T")+"Z" | date:"short" }}</span>
        <span id="foodItemExpiration">Expires: {{foodItem.expiration?.replace(" ", "T")+"Z" | date:"short"}}</span>

      </mat-card-content>
    </mat-card>
  </mat-drawer-content>
  <mat-drawer #snav [autoFocus]="false" mode="over" position="end">
    <mat-list>
      <mat-list-item>
        <button (click)="openEditDialog(foodItem)" mat-raised-button>
          <mat-icon>edit_note</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button (click)="openDeleteDialog(foodItem)" color="warn" mat-raised-button>
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
</mat-drawer-container>
