<mat-card *ngIf="!isLoggedIn" class="reset-card">
  <mat-card-title>Reset Password</mat-card-title>
    <mat-card-content>
    <form
      #f="ngForm"
      (ngSubmit)="f.form.valid && onSubmit()"
      *ngIf="!isSuccessful"
      [mustMatch]="['password', 'password2']"
      name="form"
      novalidate
    >

      <mat-form-field appearance="fill">
        <mat-label>New Password</mat-label>
        <input
          matInput
          #password="ngModel"
          [(ngModel)]="form.password"
          class="form-control"
          minlength="6"
          name="password"
          required
          type="password"
        />
        <mat-error *ngIf="password.errors">
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['minlength']">
            Password must be at least 6 characters
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Re-enter New Password</mat-label>
        <input
          matInput
          #password2="ngModel"
          ComparePassword.mustMatch
          [(ngModel)]="form.password2"
          class="form-control"
          minlength="6"
          name="password2"
          required
          type="password"
        />
        <mat-error *ngIf="password2.errors">
          <div *ngIf="password2.errors['required']">Password is required</div>
          <div *ngIf="password2.errors['minlength']">
            Password must be at least 6 characters
          </div>
          <div *ngIf="password2.errors['mustMatch']">Passwords must match</div>
        </mat-error>
      </mat-form-field>

      <button class="reset-button" mat-raised-button>Reset Password</button>
      <div *ngIf="f.submitted && isResetFailed" class="alert alert-warning">
        Password change failed!<br/>{{ errorMessage }}
      </div>
    </form>
    </mat-card-content>


    <div *ngIf="isSuccessful" class="alert alert-success">
      Password change successful!  <a routerLink="/auth/login">Login here!</a>
    </div>
</mat-card>

<mat-card *ngIf="isLoggedIn" class="reset-card error">
  <mat-card-content>
    <p>Passwords can not be reset while you are logged into Fridge Tracker.  Please log out and try the link again.</p>
  </mat-card-content>
</mat-card>
