@media only screen and (max-width: 415px) {
  .reset-card{
    width: 90%;
  }
}

@media only screen and (min-width: 415px) {
  .reset-card{
    width: 400px;
  }
}

.reset-card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  background-color: #f7f7f7;
  padding: 20px 0px;
}

mat-form-field {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: block;
}

mat-card-title {
  text-align: center;
  margin-bottom: 20px;
}

.reset-button {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display:block;
}

.alert
{
  width:80%;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  background-color:white;
  padding:20px;
  font-size: larger;
}

