<mat-action-list *ngIf="user">
  <button *ngIf="user.memberHouseholds.length > 1" (click)="changeDefault()" mat-list-item>Change Default Household</button>
  <button *ngIf="user.memberHouseholds.length > user.ownedHouseholds.length" (click)="leaveHousehold()" mat-list-item>Leave a Household</button>
  <button (click)="addHousehold()" mat-list-item>Add New Household</button>
  <button (click)="changeName()" mat-list-item>Change Name (NYI)</button>
  <button (click)="changeUserPass()" mat-list-item>Change Username/Password (NYI)</button>
</mat-action-list>
