<h2 mat-dialog-title>
  Edit storage
</h2>
<form>
<mat-form-field>
  <mat-label>Select storage to edit</mat-label>
  <mat-select [(ngModel)]="selectedStorage" name="selectedStorage">
    <mat-option *ngFor="let storage of storages" [value]="storage">{{storage.name}}</mat-option>
  </mat-select>
</mat-form-field>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input [ngModel]="selectedStorage ? selectedStorage.name:''"
           (ngModelChange)="selectedStorage ? selectedStorage.name=$event : null"
           matInput name="name" required [disabled]="!selectedStorage">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Type</mat-label>
    <input [ngModel]="selectedStorage ? selectedStorage.type:''"
           (ngModelChange)="selectedStorage ? selectedStorage.type=$event : null"
           matInput name="type" required [disabled]="!selectedStorage">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close=>Cancel</button>
  <button [disabled]="!selectedStorage" [mat-dialog-close]="selectedStorage" mat-button>Edit Storage</button>
</div>
</form>
