<div *ngIf="household">
  <h1 style="margin-top:10px;">{{household.name}} in {{household.location}}</h1>
    <div *ngIf="household.storages?.length; else message">
  <mat-form-field appearance="fill">
    <mat-label>Show/Hide Storages</mat-label>
    <mat-select [(ngModel)]="selectedStorages" multiple (selectionChange)="updateSelectedStorages()">
      <mat-option *ngFor="let storage of household.storages" [value]="storage">{{storage.name}}</mat-option>
    </mat-select>
  </mat-form-field>


    <div *ngFor="let storage of selectedStorages trackBy: trackStorage" >
      <h3>{{storage.name}}</h3>
      <div class="flex-container" >
        <div class="flex-card"
                       *ngFor="let foodItem of storage.foodItems?.slice()?.sort(compFoodItems)trackBy: trackFoodItem">
       <food-item-card class="padding"
                       [foodItem]="foodItem"></food-item-card>
        </div>
      </div>

    </div>
    <p>
      <button (click)="openAddDialog()">Add Item</button>
    </p>
  </div>
  <ng-template #message>
    <mat-card>
      <mat-card-content>
        <p>This household currently has no storages, so items can not be added</p>
        <p>If you are the owner of the household, you can add them using
        the <b>Manage Household</b> menu.</p>
      </mat-card-content>
    </mat-card>
  </ng-template>
</div>

<div *ngIf="!household&&!loading">
  <h1>Welcome to Fridge Tracker</h1>
  <p>This is your dashboard.  It is... a bit empty.  Your first step should be to create a new household, or join an existing one.</p>
  <p>To join an existing household, you must request an invite link from the household owner.  They can get this link from their "Manage Households" menu.</p>
  <p>To create a new household of your own, use the menu at the top right to go to your "Profile" menu.  Households can be created from there.</p>
  <p>After you've created a household, you can add storages from your house that you'd like to track and start adding items!</p>
  <p>Once you're all set up, a <mat-icon>home</mat-icon> will appear on the toolbar. You can always access the dashboard of your current household by clicking it.
  And as long as your household has a storage to put items into, a <mat-icon>add_a_photo</mat-icon> will appear to add items.</p>
</div>
