<mat-card class="request-card">
  <mat-card-title>Request Password Reset</mat-card-title>

  <mat-card-content>
    <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()"
          *ngIf="!sentRequest" name="form" novalidate>
      <mat-form-field appearance="fill">
        <mat-label>Username/email</mat-label>
        <input [(ngModel)]="username"  #email="ngModel" matInput name="username" required email type="text"/>
        <mat-error *ngIf="email.invalid">Must be a valid email</mat-error>
      </mat-form-field>

      <button class="request-button" mat-raised-button>Request password reset</button>

    </form>
  </mat-card-content>
  <div *ngIf="sentRequest" class="alert alert-success">
    Password Request Sent!
  </div>

</mat-card>

