<mat-card>
    <form
      #f="ngForm"
      (ngSubmit)="f.form.valid && onSubmit()"
      *ngIf="!isSuccessful"
      [mustMatch]="['password', 'password2']"
      name="form"
      novalidate
    >
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput
          #name="ngModel"
          [(ngModel)]="form.name"
          class="form-control"
          name="fullName"
          required
          type="text"
        />
        <mat-error *ngIf="name.invalid">Name is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          #email="ngModel"
          [(ngModel)]="form.email"
          class="form-control"
          email
          name="email"
          required
          type="email"
        />
        <mat-error *ngIf="email.errors">
          <div *ngIf="email.errors['required']">Email is required</div>
          <div *ngIf="email.errors['email']">
            Email must be a valid email address
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          #password="ngModel"
          [(ngModel)]="form.password"
          class="form-control"
          minlength="6"
          name="password"
          required
          type="password"
        />
        <mat-error *ngIf="password.errors">
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['minlength']">
            Password must be at least 6 characters
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Re-enter Password</mat-label>
        <input
          matInput
          #password2="ngModel"
          ComparePassword.mustMatch
          [(ngModel)]="form.password2"
          class="form-control"
          minlength="6"
          name="password2"
          required
          type="password"
        />
        <mat-error *ngIf="password2.errors">
          <div *ngIf="password2.errors['required']">Password is required</div>
          <div *ngIf="password2.errors['minlength']">
            Password must be at least 6 characters
          </div>
          <div *ngIf="password2.errors['mustMatch']">Passwords must match</div>
        </mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button>Sign Up</button>
      </mat-card-actions>

      <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
        Signup failed!<br/>{{ errorMessage }}
      </div>
    </form>

    <div *ngIf="isSuccessful" class="alert alert-success">
      Your registration is successful!
    </div>
</mat-card>
